scikit-image==0.15.0
scikit-learn==0.21.2
moment==0.8.2
xgboost==0.90
pandas==0.24.2
Django==3.0.2
django-common-helpers==0.9.2
django-cors-headers==3.2.1
django-cron==0.5.1
django-tastypie==0.14.3
djangorestframework==3.11.0
json5==0.8.4
jsonschema==3.0.1
cloudpickle==1.2.1
pickleshare==0.7.5
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
tensorboard==2.0.0
tensorflow==2.0.3
tensorflow-estimator==2.0.0
praw==6.4.0
prawcore==1.0.1
backports.shutil-get-terminal-size==1.0.0
urllib3==1.24.2
unicodecsv==0.14.1